### Sentiment Analysis

Here i am using unsupervised lexicon based approach based on Vader lexicon for sentiment analysis because the dataset doesn't consist of labels

In [24]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [25]:
df = pd.read_csv('Dataset.csv', encoding = 'ISO-8859-1')

In [26]:
df.head()

,ID,MEMBER_ID,COMMENT
0,a2p1U000000RowfQAC,0011U00000rjFKdQAM,"I showed up for my appointment, but they had m..."
1,a2p1U000000RqQqQAK,0011U00000riCSHQA2,"Staff was polite, courteous, and on time"
2,a2p1U000000RqXyQAK,0011U00000riTw7QAE,Overall care is great! It's wonderful to be a...
3,a2p1U000000Rq1LQAS,0011U00000rhu8eQAA,Like the doctor and staff at this location. Ea...
4,a2p1U000000RpiuQAC,0011U00000rk4SHQAY,The convenience and the doctors

In [27]:
analyser = SentimentIntensityAnalyzer()

In [28]:
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    return score

In [29]:
scores = []
for i in df['COMMENT']:
    scores.append(list(sentiment_analyzer_scores(i).values()))

In [30]:
sentiments = pd.DataFrame(scores, columns = sentiment_analyzer_scores(i).keys())

In [31]:
newdf = pd.concat([df,sentiments], axis = 1)

In [32]:
def add_label(num):
    if num == -1:
        return 'Extreme Negative'
    elif num <= 0.05:
        return 'Negative'
    elif num >= 0.05:
        return 'Positive'
    else:
        return 'Neutral'

In [33]:
newdf['Label'] = newdf['compound'].apply(add_label)

In [34]:
newdf.head()

,ID,MEMBER_ID,COMMENT,neg,neu,pos,compound,Label
0,a2p1U000000RowfQAC,0011U00000rjFKdQAM,"I showed up for my appointment, but they had m...",0.0,0.770,0.230,0.9262,Positive
1,a2p1U000000RqQqQAK,0011U00000riCSHQA2,"Staff was polite, courteous, and on time",0.0,0.645,0.355,0.5106,Positive
2,a2p1U000000RqXyQAK,0011U00000riTw7QAE,Overall care is great! It's wonderful to be a...,0.0,0.554,0.446,0.9060,Positive
3,a2p1U000000Rq1LQAS,0011U00000rhu8eQAA,Like the doctor and staff at this location. Ea...,0.0,0.671,0.329,0.6597,Positive
4,a2p1U000000RpiuQAC,0011U00000rk4SHQAY,The convenience and the doctors,0.0,1.000,0.000,0.0000,Negative

In [35]:
newdf.to_csv('Dataset with sentiments.csv')

***